# CLion
.idea/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Build artifacts
build/
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out

# macOS
.DS_Store

test/tests_*/
test/results/
aac